@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Russo+One&display=swap');

.home-title{
    font-family:'russo one', 'Open Sans', sans-serif;
    font-size: 2em;
    margin-top: 50px;
}
div{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: orangered;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: turquoise;
    margin: 0;
    padding: 0;
}
header{
    background-color: turquoise;
}
nav a:hover{
    background-color: turquoise;
    color: orangered;
}
.book, .join {
    background-color: turquoise;
    color: orangered;
    text-decoration: none;
    font-size: 18px;
    padding: 35px;
    margin-top: 50px;
    border-radius: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin-top: 200px;
}   

.book:hover, .join:hover{
    background-color: turquoise;
}
#background{
    background-color: turquoise;
}
.msg{
    background-color: turquoise;
    padding: 35px;
}
footer{
    background-color: turquoise;
    color: orangered;
    padding: 35px;
    margin-top: 200px;
}
.home-title {
    color: orangered;
}
h4{
    color: orangered;
}
.msg h2{
    color: orangered;
}
.msg p{
    color: orangered;
    font-size: .8em;
    padding: 35px;
}
footer a{
    color: orangered;
    text-decoration: none;
}
footer a:hover{
    color: orangered;
}
.icon {
    width: 80px;
    padding: 35px;
}
.logo {
    width: 80px;
    padding: 35px;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}  
h2 {
    margin: 0;
} 
footer .social img {
    padding: 35px;
}
.card-img {
    border: 10px black;
}
main section img {
    box-sizing: border-box;
}